// Colors
$background-color: #111;
$border-active-color: white;
$border-inactive-color: #666;
$bracket-branch-color: #333;
$disabled-color: #666;
$font-color: white;
$input-placeholder-color: #666;
$offline-color: red;
$online-color: green;
$primary-color: gold;
$share-modal-overlay-color: rgba(0, 0, 0, 0.8);
$side-background-color: #181818;
$side-placeholder-color: #333;
$side-to-be-decided-color: #666;
$status-bar-color: #181818;
$tab-active-color: #333;

// Font Size
$font-size: 1.2rem;
$form-element-font-size: 1.3rem;
$client-tooltip-font-size: 1rem;
$label-font-size: 1rem;
$navigation-item-font-size: 1.2rem;
$title-font-size: 5rem;

// Widths & Heights
$bracket-branch-line-width: 1.5px;
$home-width: 40rem;
$horn-width: 2.5rem;
$input-width: 20rem;
$match-width: 8rem;
$score-input-width: 3rem;
$status-bar-height: 3rem;
$winner-title-line-height: 1.2;

// Paddings & Margins
$body-padding: 1rem;
$button-padding: 1rem;
$client-icon-margin: 0.5rem;
$home-navigation-list-margin: 1.3rem;
$input-padding: 0.5rem;
$label-bottom-margin: 0.5rem;
$list-item-margin: 1rem;
$match-margin: 0.5rem;
$modal-padding: 1rem;
$organizer-margin: 0.5rem;
$round-margin: 1rem;
$section-margin: 2.5rem;
$side-margin: 0.25rem;
$side-padding: 0.25rem;
$status-bar-button-margin: 0.5rem;

// Breakpoints
$mobile-breakpoint: 35em;

// Misc
$title-size-modifier: 1.5;
$transition-duration: 0.3s;
$winner-brightness: 1.2;
