// Colors
$background-color: #111;
$border-color-inactive: #666;
$border-color-active: white;
$bracket-branch-color: #333;
$font-color: white;
$input-placeholder-color: #666;
$primary-color: gold;
$side-background-color: #181818;
$side-placeholder-color: #333;
$side-to-be-decided-color: #666;

// Font Size
$font-size: 1.2rem;
$form-element-font-size: 1.3rem;
$navigation-item-font-size: 1.2rem;
$title-font-size: 5rem;

// Widths & Heights
$bracket-branch-line-width: 1.5px;
$home-width: 40rem;
$input-width: 20rem;
$match-width: 8rem;
$score-input-width: 2.5rem;

// Paddings & Margins
$body-padding: 0.5rem;
$button-padding: 1rem;
$input-padding: 0.5rem;
$list-item-margin: 0.5rem;
$match-margin: 0.5rem;
$round-margin: 0.5rem;
$section-margin: 2.5rem;
$side-margin: 0.25rem;
$side-padding: 0.25rem;

// Breakpoints
$mobile-breakpoint: 35em;

// Misc
$transition-duration: 0.3s;
$winner-brightness: 1.2;
